body{

    background-image: url("../mario_web-main/image/greenhill.jpg");

    background-repeat: no-repeat;

   height: 100vh;

   width: 100%;

    background-size: cover;

   overflow: hidden;
}

.mario_style{

    position: absolute;

    bottom: 4%;

    right: 70%;

}

.nuvem_style{

    position: absolute;

    bottom: 60%;

    

    right: 10%;

}

.nuvem{

    animation: nuvem_walk 10s infinite ease-in-out;
}

@keyframes nuvem_walk{

    
    0%{
       
        transform: translate(100%);

    } 
   
    40%{

        transform: translate(-200%);


      }

    60%{

        transform: translate(-400%);


      }

      80%{

        transform: translate(-600%);

      }

    
    
    100%{

        transform: translate(-800%);

    }


}


@keyframes jump{

    0% {
        transform: translateY(-30%);
    }
    50% {
        transform: translateY(-50%);
    }
    80% {
        transform: translateY(-60%);
    }
    90%{
        transform: translateY(-70%);

    }
   



}


.mario_jump{



animation: jump 0.5s ease-in-out ;

}


.pipe_style{

    position: absolute;

    bottom: 2%;
    left: 100%;

}

.bird_style{

    position: absolute;

    bottom: 20%;
    left: 30%;

}


@keyframes pipe_walkright{


    0%{
       
        transform: translate(0%);

    } 30%{

        transform: translate(-300%);

    }40%{

        transform: translate(-400%);

    }

    50%{

        transform: translate(-500%);


      }

      60%{

        transform: translate(-600%);

    }
    

    70%{

        transform: translate(-700%);

    }80%{

        transform: translate(-800%);

    }90%{

        transform: translate(-900%);

    }
    
    100%{

        transform: translate(-1000%);

    }

}

.pipe_style iframe{

animation: pipe_walkright 2s infinite ease-in-out  ;

}

@media screen and (max-width: 4000px) {

    
.mario{

    position: absolute;

    bottom: 2%;

    right: 70%;

    width: 15rem;

}


.pipe{

    position: absolute;

    bottom: 30%;
    left: 30%;
    width: 15rem;

}
    
}


@media screen and (max-width: 1600px) {

    
    .mario{
    
        position: absolute;
    
        bottom: -7rem;
    
        right: 70%;
    
        width: 10rem;
    
    }
    
    
    .pipe{
    
        position: absolute;
    
        bottom: -7rem;
        left: 10%;
        width: 10rem;
    
    }

    @media screen and (max-width: 2000px) {
        .mario_style {
            bottom: 0%; /* Adjust the position of Mario */
            right: 50%; /* Adjust the position of Mario */
            width: 20rem; /* Adjust the size of Mario */
        }
    
        .pipe_style {
            bottom: 10%; /* Adjust the position of the pipe */
            left: 20%; /* Adjust the position of the pipe */
            width: 20rem; /* Adjust the size of the pipe */
        }
    }
    
    @media screen and (max-width: 1600px) {
        .mario_style {
            bottom: 20%; /* Adjust the position of Mario */
            right: 50%; /* Adjust the position of Mario */
            width: 15rem; /* Adjust the size of Mario */
        }
    
        .pipe_style {
            bottom: 20%; /* Adjust the position of the pipe */
            left: 80%; /* Adjust the position of the pipe */
            width: 15rem; /* Adjust the size of the pipe */
        }


        @keyframes pipe_walkright{


            0%{
               
                transform: translate(0%);
        
            } 30%{
        
                transform: translate(-400%);
        
            }40%{
        
                transform: translate(-400%);
        
            }
        
            50%{
        
                transform: translate(-500%);
        
        
              }
        
              60%{
        
                transform: translate(-600%);
        
            }
            
        
            70%{
        
                transform: translate(-700%);
        
            }80%{
        
                transform: translate(-800%);
        
            }90%{
        
                transform: translate(-900%);
        
            }
            
            100%{
        
                transform: translate(-1000%);
        
            }
        
        }
    }
    
        
    }
